@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.psdgraphics.com/wp-content/uploads/2022/01/white-math-paper-texture.jpg");
  background-size: 1000px;
  overflow: hidden;
  touch-action: none;
}

.paper {
  background-image: url("https://i0.wp.com/textures.world/wp-content/uploads/2018/10/2-Millimeter-Paper-Background-copy.jpg");
  background-size: 500px;
  padding: 20px 100px;
  position: absolute;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px rgba(0,0,0,0.5);
}

.paper.image {
  padding: 10px;
}

.paper.image p {
  font-size: 30px;
}

.paper.heart {
  width: 220px;
  height: 220px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper.heart::after {
  content: "";
  background-image: url("https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  position: absolute;
  inset: 0;
  opacity: 0.6;
}

img {
  max-height: 200px;
  width: 100%;
  user-select: none;
}

p {
  font-family: 'Zeyada';
  font-size: 50px;
  color: rgb(0,0,100);
  opacity: 0.75;
  user-select: none;
}

/* ❤️ BUTTON */
#finalBtn {
  position: relative;
  z-index: 2;
  padding: 12px 22px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: crimson;
  color: white;
  cursor: pointer;
}
